@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Niconne&display=swap");

@layer components {
  .app-header {
    @apply fixed left-0 right-0 top-0 w-full flex justify-center items-center bg-teal-600 z-50;
  }

  @media (min-width: 768px) {
    .app-header {
      @apply pr-7;
    }
  }

  @media print {
    .app-header {
      @apply hidden;
    }
  }

  .app-header__logo {
    @apply flex-grow flex-shrink-0 basis-auto text-white text-center font-niconne text-2xl font-normal p-3;
  }

  @media (min-width: 768px) {
    .app-header__logo {
      @apply flex-grow-0 flex-shrink-0 basis-auto block w-56 bg-teal-700;
    }
  }

  .app-header__logo:focus,
  .app-header__logo:hover {
    @apply text-white;
  }

  .app-sidebar__toggle {
    @apply py-0 px-4 text-white text-2xl;
  }

  @media (max-width: 767px) {
    .app-sidebar__toggle {
      @apply order-first;
    }
  }

  .app-sidebar__toggle:before {
    @apply text-[21px];
  }

  .app-sidebar__toggle:focus,
  .app-sidebar__toggle:hover {
    @apply p-4 text-white bg-teal-700 no-underline;
  }

  .app-nav {
    @apply flex justify-end mb-0;
  }

  @media (min-width: 768px) {
    .app-nav {
      @apply flex-1;
    }
  }

  .app-nav__item {
    @apply block p-4 leading-[20px] text-white transition-colors duration-300 ease-in-out;
  }

  .app-nav__item:hover,
  .app-nav__item:focus {
    @apply bg-black/10 text-gray-200;
  }

  .app-search {
    @apply relative flex items-center mr-4 p-2;
  }

  @media (max-width: 480px) {
    .app-search {
      @apply hidden;
    }
  }

  .app-search__input {
    @apply border-0 p-2 pr-8 rounded bg-white/80 transition-colors duration-300 ease-in-out;
  }

  .app-search__input::placeholder {
    @apply text-gray-500;
  }

  .app-search__button {
    @apply absolute right-[20px] top-[10px] bottom-[10px] p-0 border-0 text-black/80 bg-transparent cursor-pointer;
  }

  /* .app-notification {
    @apply min-w-[270px];
  }

  .app-notification__title {
    @apply p-2 text-center bg-teal-600/40 text-gray-800;
  }

  .app-notification__footer {
    @apply p-2 text-center bg-gray-200;
  }

  .app-notification__content {
    @apply max-h-[220px] overflow-y-auto;
  }

  .app-notification__content::-webkit-scrollbar {
    @apply w-[6px];
  }

  .app-notification__content::-webkit-scrollbar-thumb {
    @apply bg-black/20;
  }

  .app-notification__item {
    @apply flex p-2 text-inherit border-b border-gray-300 transition-colors duration-300 ease-in-out;
  }

  .app-notification__item:focus,
  .app-notification__item:hover {
    @apply text-inherit no-underline bg-gray-300;
  }

  .app-notification__message,
  .app-notification__meta {
    @apply mb-0;
  }

  .app-notification__icon {
    @apply pr-2;
  }

  .app-notification__message {
    @apply leading-[1.2];
  } */

  .app-sidebar {
    @apply fixed top-0 bottom-0 left-0 pt-[70px] w-[224px] overflow-auto z-10 bg-gray-800 shadow-lg transition-all duration-300 ease-in-out;
  }

  .app-sidebar::-webkit-scrollbar {
    @apply w-[6px];
  }

  .app-sidebar::-webkit-scrollbar-thumb {
    @apply bg-black/20;
  }

  @media print {
    .app-sidebar {
      @apply hidden;
    }
  }

  @media (max-width: 767px) {
    .app-sidebar__overlay {
      @apply fixed top-0 left-0 bottom-0 right-0 z-9;
    }
  }

  .app-sidebar__user {
    @apply flex items-center p-2 mb-5 text-white;
  }

  .app-sidebar__user-avatar {
    @apply flex-shrink-0 mr-4;
  }

  .app-sidebar__user-name {
    @apply text-[17px] leading-[1.3];
  }

  .app-sidebar__user-name,
  .app-sidebar__user-designation {
    @apply whitespace-nowrap overflow-hidden text-ellipsis mb-0;
  }

  .app-menu {
    @apply mb-0 pb-10;
  }

  .app-menu__item {
    @apply flex items-center p-3 text-lg border-l-[3px] border-transparent transition-all duration-300 ease-in-out text-white;
  }

  .app-menu__item.active,
  .app-menu__item:hover,
  .app-menu__item:focus {
    @apply bg-gray-900 border-teal-600 no-underline text-white;
  }

  .app-menu__icon {
    @apply flex-shrink-0 w-[25px];
  }

  .app-menu__label {
    @apply flex-1 whitespace-nowrap;
  }
  /* Custom styles for treeview */
  .treeview {
    @apply relative;
  }

  /* Styles when treeview is expanded */
  .treeview.is-expanded [data-toggle="treeview"] {
    @apply border-l-4 bg-[#0d1214] border-l-[#009688];
  }

  .treeview.is-expanded .treeview-menu {
    @apply max-h-screen;
  }

  .treeview.is-expanded .treeview-indicator {
    @apply transition-transform duration-300 ease-in-out;
    transform: rotate(90deg);
  }

  /* Initial state of the treeview menu */
  .treeview-menu {
    @apply overflow-hidden bg-[#2a383e] transition-all duration-300 ease-in-out max-h-0;
  }

  /* Treeview item styles */
  .treeview-item {
    @apply flex items-center px-5 py-1 text-white text-base;
  }

  /* Active, hover, and focus states for treeview items */
  .treeview-item.active,
  .treeview-item:hover,
  .treeview-item:focus {
    @apply bg-[#0d1214] text-white;
  }

  /* Icon within the treeview item */
  .treeview-item .icon {
    @apply mr-1;
  }

  /* Indicator styles */
  .treeview-indicator {
    @apply transition-transform duration-300 ease-in-out;
    transform-origin: center;
  }
  /* Styles for sidebar in mini mode when toggled */
  @media (min-width: 768px) {
    .sidebar-mini.sidenav-toggled .app-sidebar__user-name,
    .sidebar-mini.sidenav-toggled .app-sidebar__user-designation,
    .sidebar-mini.sidenav-toggled .treeview-indicator {
      @apply hidden; /* Hide elements */
    }

    .sidebar-mini.sidenav-toggled .app-sidebar__user-avatar {
      @apply w-8 h-8; /* Set width and height */
    }

    .sidebar-mini.sidenav-toggled .app-content {
      @apply ml-12; /* Margin-left */
    }

    .sidebar-mini.sidenav-toggled .app-sidebar {
      @apply left-0 w-12 overflow-hidden; /* Set sidebar position and size */
    }

    .sidebar-mini.sidenav-toggled .app-sidebar:hover {
      @apply overflow-visible; /* Overflow on hover */
    }

    .sidebar-mini.sidenav-toggled .app-menu__item {
      @apply overflow-hidden; /* Hide overflow */
    }

    .sidebar-mini.sidenav-toggled .app-menu__item:hover {
      @apply overflow-visible; /* Overflow on hover */
    }

    .sidebar-mini.sidenav-toggled .app-menu__item:hover .app-menu__label {
      @apply opacity-100; /* Show label on hover */
    }

    .sidebar-mini.sidenav-toggled .app-menu__item:hover + .treeview-menu {
      @apply visible; /* Show treeview menu on hover */
    }

    .sidebar-mini.sidenav-toggled .app-menu__label {
      @apply block absolute top-0 left-12 min-w-[180px] py-3 px-2 -ml-0.5 bg-[#0d1214] rounded-r-lg opacity-0; /* Menu label styling */
    }

    .sidebar-mini.sidenav-toggled .treeview:hover .app-menu__item {
      @apply bg-[#0d1214] border-l-4 border-[#009688] text-white; /* Treeview item styles */
    }

    .sidebar-mini.sidenav-toggled .treeview:hover .app-menu__label {
      @apply opacity-100; /* Show label on hover */
    }

    .sidebar-mini.sidenav-toggled .treeview:hover .treeview-menu {
      @apply max-h-screen opacity-100 visible z-10; /* Expand and show treeview menu */
    }

    .sidebar-mini.sidenav-toggled .treeview .app-menu__label {
      @apply rounded-br-none; /* Remove bottom-right border radius */
    }

    .sidebar-mini.sidenav-toggled .treeview-menu {
      @apply absolute left-12 min-w-[180px] py-3 opacity-0 rounded-br-lg z-10 invisible; /* Treeview menu styles */
      transition: visibility 0.3s ease; /* Custom transition for visibility */
    }
  }
  .app-content {
    @apply bg-[#e5e5e5];
    min-height: calc(100vh - 50px);
    transition: margin-left 0.3s ease;
  }
  .app-title {
    @apply flex items-center justify-between bg-white mt-[-30px] mb-[30px] px-[30px]  py-[20px] shadow-sm;
  }

  @media print {
    .app-title {
      @apply hidden;
    }
  }

  @media (max-width: 480px) {
    .app-title {
      @apply mt-[-15px] mb-[15px] p-[20px] flex-col items-start;
    }
  }

  .app-title h1 {
    @apply m-0 text-[24px] font-normal;
  }

  .app-title p {
    @apply mb-0 italic;
  }

  @media (max-width: 480px) {
    .app-title p {
      @apply hidden;
    }
  }
  .app-breadcrumb {
    @apply mb-0 text-right font-medium text-[13px] capitalize p-0 bg-transparent;
  }

  @media (max-width: 480px) {
    .app-breadcrumb {
      @apply mt-[10px];
    }
  }

  /* button  */
  /* button  */
  /* button  */
  /* button  */
  /* button  */
  /* button  */
  /* button  */
  /* button  */

  .btn {
    @apply inline-block font-bold text-center align-middle select-none border-2 border-transparent px-3 py-1.5 text-sm leading-6 rounded transition ease-in-out;
  }

  .btn:hover,
  .btn:focus {
    @apply no-underline;
  }

  .btn:focus {
    @apply outline-none shadow-none;
  }

  .btn.disabled,
  .btn:disabled {
    @apply opacity-65;
  }

  .btn:not(:disabled):not(.disabled) {
    @apply cursor-pointer;
  }

  .btn:not(:disabled):not(.disabled):active {
    @apply bg-none;
  }

  a.btn.disabled,
  fieldset:disabled a.btn {
    @apply pointer-events-none;
  }
  .btn-primary {
    @apply text-white bg-teal-500 border-teal-500;
  }

  .btn-primary:hover {
    @apply bg-teal-700 border-teal-700;
  }

  .btn-primary:focus {
    @apply shadow-none;
  }

  .btn-primary:disabled {
    @apply bg-teal-500 border-teal-500 text-white;
  }

  .btn-primary:not(:disabled):not(.disabled):active {
    @apply bg-teal-800 border-teal-800;
  }
  .btn-secondary {
    @apply text-white bg-gray-600 border-gray-600;
  }

  .btn-secondary:hover {
    @apply bg-gray-500 border-gray-500;
  }

  .btn-secondary:focus {
    @apply shadow-none;
  }

  .btn-secondary:disabled {
    @apply bg-gray-600 border-gray-600 text-white;
  }

  .btn-secondary:not(:disabled):not(.disabled):active {
    @apply bg-gray-700 border-gray-700;
  }
  .btn-success {
    @apply text-white bg-green-600 border-green-600;
  }

  .btn-success:hover {
    @apply bg-green-700 border-green-700;
  }

  .btn-success:focus {
    @apply shadow-none;
  }

  .btn-success:disabled {
    @apply bg-green-600 border-green-600 text-white;
  }

  .btn-success:not(:disabled):not(.disabled):active {
    @apply bg-green-800 border-green-800;
  }
  .btn-info {
    @apply text-white bg-cyan-500 border-cyan-500;
  }

  .btn-info:hover {
    @apply bg-cyan-600 border-cyan-600;
  }

  .btn-info:focus {
    @apply shadow-none;
  }

  .btn-info:disabled {
    @apply bg-cyan-500 border-cyan-500 text-white;
  }

  .btn-info:not(:disabled):not(.disabled):active {
    @apply bg-cyan-700 border-cyan-700;
  }
  .btn-warning {
    @apply text-black bg-yellow-500 border-yellow-500;
  }

  .btn-warning:hover {
    @apply bg-yellow-600 border-yellow-600;
  }

  .btn-warning:focus {
    @apply shadow-none;
  }

  .btn-warning:disabled {
    @apply bg-yellow-500 border-yellow-500 text-black;
  }

  .btn-warning:not(:disabled):not(.disabled):active {
    @apply bg-yellow-700 border-yellow-700;
  }
  .btn-danger {
    @apply text-white bg-red-600 border-red-600;
  }

  .btn-danger:hover {
    @apply bg-red-700 border-red-700;
  }

  .btn-danger:focus {
    @apply shadow-none;
  }

  .btn-danger:disabled {
    @apply bg-red-600 border-red-600 text-white;
  }

  .btn-danger:not(:disabled):not(.disabled):active {
    @apply bg-red-800 border-red-800;
  }
  .btn-light {
    @apply text-black bg-gray-100 border-gray-100;
  }

  .btn-light:hover {
    @apply bg-gray-200 border-gray-200;
  }

  .btn-light:focus {
    @apply shadow-none;
  }

  .btn-light:disabled {
    @apply bg-gray-100 border-gray-100 text-black;
  }

  .btn-light:not(:disabled):not(.disabled):active {
    @apply bg-gray-300 border-gray-300;
  }
  .btn-dark {
    @apply text-white bg-gray-800 border-gray-800;
  }

  .btn-dark:hover {
    @apply bg-gray-700 border-gray-700;
  }

  .btn-dark:focus {
    @apply shadow-none;
  }

  .btn-dark:disabled {
    @apply bg-gray-800 border-gray-800 text-white;
  }

  .btn-dark:not(:disabled):not(.disabled):active {
    @apply bg-gray-900 border-gray-900;
  }
  .btn-outline-primary {
    color: #009688;
    background-color: transparent;
    background-image: none;
    border-color: #009688;
  }

  .btn-outline-primary:hover {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
  }

  .btn-outline-primary:focus,
  .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
  }

  .btn-outline-primary.disabled,
  .btn-outline-primary:disabled {
    color: #009688;
    background-color: transparent;
  }

  .btn-outline-primary:not(:disabled):not(.disabled):active,
  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
  }

  .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
  }

  .btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
  }

  .btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .btn-outline-secondary:focus,
  .btn-outline-secondary.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.5);
  }

  .btn-outline-secondary.disabled,
  .btn-outline-secondary:disabled {
    color: #6c757d;
    background-color: transparent;
  }

  .btn-outline-secondary:not(:disabled):not(.disabled):active,
  .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
  .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.5);
  }

  .btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
  }

  .btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-outline-success:focus,
  .btn-outline-success.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.5);
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.5);
  }

  .btn-outline-success.disabled,
  .btn-outline-success:disabled {
    color: #28a745;
    background-color: transparent;
  }

  .btn-outline-success:not(:disabled):not(.disabled):active,
  .btn-outline-success:not(:disabled):not(.disabled).active,
  .show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-outline-success:not(:disabled):not(.disabled):active:focus,
  .btn-outline-success:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.5);
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.5);
  }

  .btn-outline-info {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
  }

  .btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  .btn-outline-info:focus,
  .btn-outline-info.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
    box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
  }

  .btn-outline-info.disabled,
  .btn-outline-info:disabled {
    color: #17a2b8;
    background-color: transparent;
  }

  .btn-outline-info:not(:disabled):not(.disabled):active,
  .btn-outline-info:not(:disabled):not(.disabled).active,
  .show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  .btn-outline-info:not(:disabled):not(.disabled):active:focus,
  .btn-outline-info:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
    box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
  }

  .btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107;
  }

  .btn-outline-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }

  .btn-outline-warning:focus,
  .btn-outline-warning.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.5);
  }

  .btn-outline-warning.disabled,
  .btn-outline-warning:disabled {
    color: #ffc107;
    background-color: transparent;
  }

  .btn-outline-warning:not(:disabled):not(.disabled):active,
  .btn-outline-warning:not(:disabled):not(.disabled).active,
  .show > .btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }

  .btn-outline-warning:not(:disabled):not(.disabled):active:focus,
  .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-warning.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.5);
  }

  .btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
  }

  .btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .btn-outline-danger:focus,
  .btn-outline-danger.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
  }

  .btn-outline-danger.disabled,
  .btn-outline-danger:disabled {
    color: #dc3545;
    background-color: transparent;
  }

  .btn-outline-danger:not(:disabled):not(.disabled):active,
  .btn-outline-danger:not(:disabled):not(.disabled).active,
  .show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .btn-outline-danger:not(:disabled):not(.disabled):active:focus,
  .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-danger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
  }

  .btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
  }

  .btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }

  .btn-outline-light:focus,
  .btn-outline-light.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 0 rgba(248, 249, 250, 0.5);
  }

  .btn-outline-light.disabled,
  .btn-outline-light:disabled {
    color: #f8f9fa;
    background-color: transparent;
  }

  .btn-outline-light:not(:disabled):not(.disabled):active,
  .btn-outline-light:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }

  .btn-outline-light:not(:disabled):not(.disabled):active:focus,
  .btn-outline-light:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-light.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 0 rgba(248, 249, 250, 0.5);
  }

  .btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
  }

  .btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }

  .btn-outline-dark:focus,
  .btn-outline-dark.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(52, 58, 64, 0.5);
    box-shadow: 0 0 0 0 rgba(52, 58, 64, 0.5);
  }

  .btn-outline-dark.disabled,
  .btn-outline-dark:disabled {
    color: #343a40;
    background-color: transparent;
  }

  .btn-outline-dark:not(:disabled):not(.disabled):active,
  .btn-outline-dark:not(:disabled):not(.disabled).active,
  .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }

  .btn-outline-dark:not(:disabled):not(.disabled):active:focus,
  .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-dark.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(52, 58, 64, 0.5);
    box-shadow: 0 0 0 0 rgba(52, 58, 64, 0.5);
  }

  .btn-link {
    font-weight: 400;
    color: #009688;
    background-color: transparent;
  }

  .btn-link:hover {
    color: #004a43;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
  }

  .btn-link:focus,
  .btn-link.focus {
    text-decoration: underline;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn-link:disabled,
  .btn-link.disabled {
    color: #6c757d;
    pointer-events: none;
  }

  .btn-lg,
  .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.09375rem;
    line-height: 1.5;
    border-radius: 3px;
  }

  .btn-sm,
  .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    line-height: 1.5;
    border-radius: 3px;
  }

  .btn-block {
    display: block;
    width: 100%;
  }

  .btn-block + .btn-block {
    margin-top: 0.5rem;
  }

  input[type="submit"].btn-block,
  input[type="reset"].btn-block,
  input[type="button"].btn-block {
    width: 100%;
  }
}
