@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-group,
  .btn-group-vertical {
    @apply relative inline-flex align-middle;
  }

  .btn-group > .btn,
  .btn-group-vertical > .btn {
    @apply relative flex-none;
  }

  .btn-group > .btn:hover,
  .btn-group-vertical > .btn:hover {
    @apply z-10;
  }

  .btn-group > .btn:focus,
  .btn-group > .btn:active,
  .btn-group > .btn.active,
  .btn-group-vertical > .btn:focus,
  .btn-group-vertical > .btn:active,
  .btn-group-vertical > .btn.active {
    @apply z-10;
  }

  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group,
  .btn-group-vertical .btn + .btn,
  .btn-group-vertical .btn + .btn-group,
  .btn-group-vertical .btn-group + .btn,
  .btn-group-vertical .btn-group + .btn-group {
    @apply -ml-px;
  }
  .btn-toolbar {
    @apply flex flex-wrap justify-start;
  }

  .btn-toolbar .input-group {
    @apply w-auto;
  }

  .btn-group > .btn:first-child {
    @apply ml-0;
  }

  .btn-group > .btn:not(:last-child):not(.dropdown-toggle),
  .btn-group > .btn-group:not(:last-child) > .btn {
    @apply rounded-r-none;
  }

  .btn-group > .btn:not(:first-child),
  .btn-group > .btn-group:not(:first-child) > .btn {
    @apply rounded-l-none;
  }

  .dropup,
  .dropright,
  .dropdown,
  .dropleft {
    @apply relative;
  }

  .dropdown-toggle::after {
    @apply inline-block ml-1 align-middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  .dropdown-toggle:empty::after {
    @apply ml-0;
  }

  .dropdown-menu {
    @apply absolute top-full left-0 z-[1000] hidden min-w-[10rem] p-0 m-0 text-sm text-gray-800 text-left list-none bg-white border border-transparent rounded-md;
  }

  .dropdown-menu-right {
    @apply right-0 left-auto;
  }

  .dropup .dropdown-menu {
    @apply bottom-full top-auto m-0;
  }

  .dropup .dropdown-toggle::after {
    @apply inline-block ml-1 align-middle;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
  }

  .dropup .dropdown-toggle:empty::after {
    @apply ml-0;
  }

  .dropright .dropdown-menu {
    @apply top-0 left-full right-auto m-0;
  }

  .dropright .dropdown-toggle::after {
    @apply inline-block ml-1 align-middle;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }

  .dropright .dropdown-toggle:empty::after {
    @apply ml-0;
  }

  .dropright .dropdown-toggle::after {
    @apply align-middle;
  }

  .dropleft .dropdown-menu {
    @apply top-0 right-full left-auto m-0;
  }

  .dropleft .dropdown-toggle::after {
    @apply hidden;
  }

  .dropleft .dropdown-toggle::before {
    @apply inline-block mr-1 align-middle;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid;
    border-bottom: 0.3em solid transparent;
  }

  .dropleft .dropdown-toggle:empty::after {
    @apply ml-0;
  }

  .dropleft .dropdown-toggle::before {
    @apply align-middle;
  }
  .nav {
    @apply flex flex-wrap pl-0 mb-0 list-none;
  }

  .nav-link {
    @apply block px-4 py-2;
  }

  .nav-link:hover,
  .nav-link:focus {
    @apply no-underline;
  }

  .nav-link.disabled {
    @apply text-gray-500;
  }

  .nav-tabs {
    @apply border-b border-gray-200;
  }

  .nav-tabs .nav-item {
    @apply mb-[-1px];
  }

  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    @apply border-l border-r border-t border-gray-200;
  }

  .nav-tabs .nav-link.disabled {
    @apply text-gray-500 bg-transparent border-transparent;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    @apply text-gray-700 bg-white border-l border-r border-t border-gray-200 border-b-0;
  }

  .nav-tabs .dropdown-menu {
    @apply mt-[-1px] rounded-t-none;
  }

  .nav-pills .nav-link {
    @apply rounded-md;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    @apply text-white bg-teal;
  }

  .nav-fill .nav-item {
    @apply flex-1 text-center;
  }
  .breadcrumb {
    @apply flex flex-wrap px-4 py-3 mb-4 list-none bg-gray-200 rounded-md;
  }

  .breadcrumb-item + .breadcrumb-item {
    @apply pl-2;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    @apply inline-block pr-2 text-gray-500;
    content: "/";
  }

  .breadcrumb-item + .breadcrumb-item:hover::before {
    @apply underline;
  }

  .breadcrumb-item.active {
    @apply text-gray-500;
  }

  .pagination {
    @apply flex pl-0 list-none rounded-md;
  }

  .page-link {
    @apply relative block px-3 py-2 ml-[-1px] leading-5 text-teal bg-white border border-gray-300;
  }

  .page-link:hover {
    @apply z-20 text-teal no-underline bg-gray-200 border-gray-300;
  }

  .page-link:focus {
    @apply z-20 outline-none shadow-none;
  }

  .page-link:not(:disabled):not(.disabled) {
    @apply cursor-pointer;
  }

  .page-item:first-child .page-link {
    @apply ml-0 rounded-l-md;
  }

  .page-item:last-child .page-link {
    @apply rounded-r-md;
  }

  .page-item.active .page-link {
    @apply z-10 text-white bg-teal border-teal;
  }

  .page-item.disabled .page-link {
    @apply text-gray-500 pointer-events-none cursor-auto bg-white border-gray-300;
  }

  .pagination-lg .page-link {
    @apply px-6 py-3 text-lg leading-6;
  }

  .pagination-lg .page-item:first-child .page-link {
    @apply rounded-l-lg;
  }

  .pagination-lg .page-item:last-child .page-link {
    @apply rounded-r-lg;
  }

  .pagination-sm .page-link {
    @apply px-2 py-1 text-sm leading-6;
  }

  .pagination-sm .page-item:first-child .page-link {
    @apply rounded-l-sm;
  }

  .pagination-sm .page-item:last-child .page-link {
    @apply rounded-r-sm;
  }
  .alert {
    @apply relative px-5 py-3 mb-4 border border-transparent rounded-md;
  }

  .alert-heading {
    @apply text-inherit;
  }

  .alert-link {
    @apply font-bold;
  }

  .alert-dismissible {
    @apply pr-[3.8125rem];
  }

  .alert-dismissible .close {
    @apply absolute top-0 right-0 px-5 py-3 text-inherit;
  }

  .alert-primary {
    @apply text-[#004e47] bg-[#cceae7] border-[#b8e2de];
  }

  .alert-primary hr {
    @apply border-t-[#a6dbd6];
  }

  .alert-primary .alert-link {
    @apply text-[#001b19];
  }

  .alert-secondary {
    @apply text-[#383d41] bg-[#e2e3e5] border-[#d6d8db];
  }

  .alert-secondary hr {
    @apply border-t-[#c8cbcf];
  }

  .alert-secondary .alert-link {
    @apply text-[#202326];
  }

  .alert-success {
    @apply text-[#155724] bg-[#d4edda] border-[#c3e6cb];
  }

  .alert-success hr {
    @apply border-t-[#b1dfbb];
  }

  .alert-success .alert-link {
    @apply text-[#0b2e13];
  }

  .alert-info {
    @apply text-[#0c5460] bg-[#d1ecf1] border-[#bee5eb];
  }

  .alert-info hr {
    @apply border-t-[#abdde5];
  }

  .alert-info .alert-link {
    @apply text-[#062c33];
  }

  .alert-warning {
    @apply text-[#856404] bg-[#fff3cd] border-[#ffeeba];
  }

  .alert-warning hr {
    @apply border-t-[#ffe8a1];
  }

  .alert-warning .alert-link {
    @apply text-[#533f03];
  }

  .alert-danger {
    @apply text-[#721c24] bg-[#f8d7da] border-[#f5c6cb];
  }

  .alert-danger hr {
    @apply border-t-[#f1b0b7];
  }

  .alert-danger .alert-link {
    @apply text-[#491217];
  }

  .alert-light {
    @apply text-[#818182] bg-[#fefefe] border-[#fdfdfe];
  }

  .alert-light hr {
    @apply border-t-[#ececf6];
  }

  .alert-light .alert-link {
    @apply text-[#686868];
  }

  .alert-dark {
    @apply text-[#1b1e21] bg-[#d6d8d9] border-[#c6c8ca];
  }

  .alert-dark hr {
    @apply border-t-[#b9bbbe];
  }

  .alert-dark .alert-link {
    @apply text-[#040505];
  }
  .badge {
    @apply inline-block px-2 py-1 text-[75%] font-bold leading-none text-center whitespace-nowrap align-baseline rounded-md;
  }

  .badge:empty {
    @apply hidden;
  }

  .btn .badge {
    @apply relative -top-[1px];
  }

  .badge-pill {
    @apply px-[0.6em] rounded-full;
  }

  .badge-primary {
    @apply text-white bg-[#009688];
  }

  .badge-primary[href]:hover,
  .badge-primary[href]:focus {
    @apply text-white no-underline bg-[#00635a];
  }

  .badge-secondary {
    @apply text-white bg-[#6c757d];
  }

  .badge-secondary[href]:hover,
  .badge-secondary[href]:focus {
    @apply text-white no-underline bg-[#545b62];
  }

  .badge-success {
    @apply text-white bg-[#28a745];
  }

  .badge-success[href]:hover,
  .badge-success[href]:focus {
    @apply text-white no-underline bg-[#1e7e34];
  }

  .badge-info {
    @apply text-white bg-[#17a2b8];
  }

  .badge-info[href]:hover,
  .badge-info[href]:focus {
    @apply text-white no-underline bg-[#117a8b];
  }

  .badge-warning {
    @apply text-[#212529] bg-[#ffc107];
  }

  .badge-warning[href]:hover,
  .badge-warning[href]:focus {
    @apply text-[#212529] no-underline bg-[#d39e00];
  }

  .badge-danger {
    @apply text-white bg-[#dc3545];
  }

  .badge-danger[href]:hover,
  .badge-danger[href]:focus {
    @apply text-white no-underline bg-[#bd2130];
  }

  .badge-light {
    @apply text-[#212529] bg-[#f8f9fa];
  }

  .badge-light[href]:hover,
  .badge-light[href]:focus {
    @apply text-[#212529] no-underline bg-[#dae0e5];
  }

  .badge-dark {
    @apply text-white bg-[#343a40];
  }

  .badge-dark[href]:hover,
  .badge-dark[href]:focus {
    @apply text-white no-underline bg-[#1d2124];
  }
  .progress {
    @apply flex h-4 overflow-hidden text-[0.65625rem] bg-[#e9ecef] rounded-md;
  }

  .progress-bar {
    @apply flex flex-col justify-center text-white text-center whitespace-nowrap bg-[#009688] transition-[width] ease-[0.6s];
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .progress-bar {
      @apply transition-none;
    }
  }

  .progress-bar-striped {
    @apply bg-[linear-gradient(45deg,rgba(255,255,255,0.15)_25%,transparent_25%,transparent_50%,rgba(255,255,255,0.15)_50%,rgba(255,255,255,0.15)_75%,transparent_75%,transparent)] bg-[length:1rem_1rem];
  }

  .progress-bar-animated {
    @apply animate-[progress-bar-stripes_1s_linear_infinite];
  }
  .jumbotron {
    @apply p-8 mb-8 bg-gray-100 rounded-md;
  }
  .display-3 {
    @apply text-6xl font-light leading-tight;
  }
  .list-group {
    @apply flex flex-col p-0 mb-0;
  }

  .list-group-item-action {
    @apply w-full text-gray-700 text-left;
  }

  .list-group-item-action:hover,
  .list-group-item-action:focus {
    @apply text-gray-700 no-underline bg-gray-100;
  }

  .list-group-item-action:active {
    @apply text-gray-800 bg-gray-200;
  }

  .list-group-item {
    @apply relative block p-3 mb-[-1px] bg-white border border-gray-200;
  }

  .list-group-item:first-child {
    @apply rounded-t-md;
  }

  .list-group-item:last-child {
    @apply mb-0 rounded-b-md;
  }

  .list-group-item:hover,
  .list-group-item:focus {
    @apply z-10 no-underline;
  }

  .list-group-item.disabled,
  .list-group-item:disabled {
    @apply text-gray-500 bg-white;
  }

  .list-group-item.active {
    @apply z-20 text-white bg-teal border-teal;
  }

  .list-group-flush .list-group-item {
    @apply border-r-0 border-l-0 rounded-none;
  }

  .list-group-flush:first-child .list-group-item:first-child {
    @apply border-t-0;
  }

  .list-group-flush:last-child .list-group-item:last-child {
    @apply border-b-0;
  }

  .list-group-item-primary {
    @apply text-teal-900 bg-teal-200;
  }

  .list-group-item-primary.list-group-item-action:hover,
  .list-group-item-primary.list-group-item-action:focus {
    @apply text-teal bg-teal;
  }

  .list-group-item-primary.list-group-item-action.active {
    @apply text-white bg-teal border-teal;
  }

  .list-group-item-secondary {
    @apply text-gray-800 bg-gray-300;
  }

  .list-group-item-secondary.list-group-item-action:hover,
  .list-group-item-secondary.list-group-item-action:focus {
    @apply text-gray-800 bg-gray-400;
  }

  .list-group-item-secondary.list-group-item-action.active {
    @apply text-white bg-gray-800 border-gray-800;
  }

  .list-group-item-success {
    @apply text-green bg-green;
  }

  .list-group-item-success.list-group-item-action:hover,
  .list-group-item-success.list-group-item-action:focus {
    @apply text-green bg-green;
  }

  .list-group-item-success.list-group-item-action.active {
    @apply text-white bg-green border-green;
  }

  .list-group-item-info {
    @apply text-teal bg-teal;
  }

  .list-group-item-info.list-group-item-action:hover,
  .list-group-item-info.list-group-item-action:focus {
    @apply text-teal bg-teal;
  }

  .list-group-item-info.list-group-item-action.active {
    @apply text-white bg-teal border-teal;
  }

  .list-group-item-warning {
    @apply text-yellow bg-yellow;
  }

  .list-group-item-warning.list-group-item-action:hover,
  .list-group-item-warning.list-group-item-action:focus {
    @apply text-yellow bg-yellow;
  }

  .list-group-item-warning.list-group-item-action.active {
    @apply text-white bg-yellow border-yellow;
  }

  .list-group-item-danger {
    @apply text-red bg-red;
  }

  .list-group-item-danger.list-group-item-action:hover,
  .list-group-item-danger.list-group-item-action:focus {
    @apply text-red bg-red;
  }

  .list-group-item-danger.list-group-item-action.active {
    @apply text-white bg-red border-red;
  }

  .list-group-item-light {
    @apply text-gray-700 bg-gray-100;
  }

  .list-group-item-light.list-group-item-action:hover,
  .list-group-item-light.list-group-item-action:focus {
    @apply text-gray-700 bg-gray-200;
  }

  .list-group-item-light.list-group-item-action.active {
    @apply text-white bg-gray-700 border-gray-700;
  }

  .list-group-item-dark {
    @apply text-gray-100 bg-gray-400;
  }

  .list-group-item-dark.list-group-item-action:hover,
  .list-group-item-dark.list-group-item-action:focus {
    @apply text-gray-100 bg-gray-500;
  }

  .list-group-item-dark.list-group-item-action.active {
    @apply text-white bg-gray-900 border-gray-900;
  }
  .card {
    @apply relative flex flex-col min-w-0 break-words bg-white border border-gray-200 rounded-md;
  }
  .card-body {
    @apply flex-1 p-5;
  }
  .modal {
    @apply fixed inset-0 z-[1050] hidden overflow-hidden outline-none;
  }
  .modal-dialog-centered {
    @apply fixed inset-0 flex items-center justify-center py-2;
  }

  .modal-content {
    @apply relative flex flex-col w-full pointer-events-auto bg-white border border-opacity-20 border-black rounded-md outline-none;
  }

  .modal-backdrop {
    @apply fixed inset-0 z-[1040] bg-black;
  }
}
